@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
  
  button {
    cursor: pointer;
  }

  h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    cursor: pointer;
  }
  
  #header_wrapper {
    #sub_region {
      overflow: scroll;
      display: flex;
      height: 110px;
      .subregion {
        width: max-content;
        height: 50px;
        font-size: 32px;
        line-height: 40px;
        flex: none;
      }
      .content_wrap {
        display: flex;
      }
      .info {
        font-size: 12px;
      }
    }
  }

  #game_wrapper {
    user-select: none;
    width: 100%;
    height: 600px;
    position: absolute;
      #worldmap {
        position: absolute;
        width: 94%;
        height: 570px;
        margin: 0 3%;
        border: 5px solid seashell;
        box-shadow: 5px 5px 15px black;
        border-radius: 15px;
        #switch_wrap {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
          position: relative;
          z-index: 1000;
          height: 50px;
        }
        #name_switch {
          font-size: 36px;
        }
        #subregion_name {
          font-weight: lighter;
          font-size: 24px;
          height: 40px;
          margin-top: 3px;
          line-height: 30px;
        }
        #type_switch {
          font-size: 36px;
        }
        #start_btn {
          width: 170px;
        }
        #menue_btn {
          font-size: 36px;
        }
      }
    
      #minimap {
        left: 2%;
        top: 67%;
        width: 23%;
        height: 180px;
        position: relative;
        z-index: 1000;
        border: 1px solid black;
        box-shadow: 0px 0px 10px black;
        border-radius: 5px;
      }
    
      #cauntry_flag_wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-end;
        align-content: flex-end;
        position: relative;
        z-index: 1000;
        height: 480px;
        margin-left: 89%;
        margin-top: 10px;
        .flag_pic {
          margin-top: 5px;
          margin-right: 15px;
          max-width: 60px;
          height: 40px;
          cursor: pointer;
        }
      }
  }

  #collection_modal {
    #rate_box {
      font-size: 24px;
      #collection_rate {
        color: red;
        font-size: 32px;
      }
    }
    .close {
      margin-left: 0;
    }
    .dropdown-menu {
      background-size: contain;
    }
  }
  
  .modal {
    overflow: scroll !important;
  }

  .result_flag {
    margin-top: 5px;
    margin-right: 15px;
    height: 50px;
    cursor: pointer;
    display: inline-block;
    width: 85px;
    overflow: hidden;
    padding: 5px;
    font-size: 10px;
    text-align: center;
  }

  .pic {
    padding: 0;
    vertical-align: baseline;
  }

  .modal-content {
    //PC・タブレット横
    width: 90vw;
    left: -41%;
    //タブレット縦・スマホ横
    @media screen and (max-width: 800px) {
      left: -20%;
    }
    //スマホ縦
    @media screen and (max-width: 500px) {
      left: 4%;
    }
  }

  
  .clicked {
    border: 4px solid red;
    box-shadow: 0px 4px 6px black;
    margin-bottom: 4px;
  }
  .corrected {
    visibility: hidden;
  }

